<h2>Log in</h2>


<%= form_with url: sign_in_path do |form| %>

<div class="form-field">
    <%= form.label :email %>
    <br/>
    <%= form.text_field :email %>
  </div>
  
  <div class="form-field">
  <%= form.label :password %>
  <br/>
  <%= form.password_field :password %>
  </div>

  <br />
  <%= link_to "Forgot your password?", password_reset_path %>

  <%= form.submit "Login", class: "btn-primary" %>


<% end %>