<tr id="<%= dom_id proshop %>">
  <td data-label="Name"><%= proshop.name %></td>
  <td data-label="City"><%= proshop.city %></td>
  <td data-label="Address"><%= proshop.address %></td>
  <td data-label="Phone"><%= proshop.phone %></td>
  <td data-label="Link"><%= link_to "View Details", proshop %></td>
</tr>
