<tr id="<%= dom_id proshop %>">
  <td><%= proshop.name %></td>
  <td><%= proshop.city %></td>
  <td><%= proshop.address %></td>
  <td><%= proshop.phone %></td>
  <td><%= link_to "View Details", proshop %></td>
</tr>
