<style>
.signup-form {
  border: 1px solid black;
  max-width: 600px;
}
</style>

<h1>Edit Password</h1>

<div class="edit-password form">
<%= form_with model: Current.user, url: edit_password_path do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  
  <div class="form-field">
  <%= form.label :password %>
  <br/>
  <%= form.password_field :password %>
  </div>

  <div class="form-field">
  <%= form.label :password_confirmation %>
  <br/>
  <%= form.password_field :password_confirmation %>
  </div>

  <%= form.submit "Update Password", class: "btn-primary" %>
<% end %>
</div>